.stream-selector {
    display: flex;
    max-width: 100%;
    overflow: scroll;
    .stream-list {
        display: flex;
    }
    > * {
        margin: 0 8px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}