.chat-messages {
    height: 100%;
    > .ant-col {
        display: flex;
        flex-direction: column;
        height: 100%;
        > * {
            margin: 8px 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.chat {
    flex: 1;
    max-height: calc(100% - 64px);
    overflow: scroll;
}

.chat-stats-meta {
    text-align: left;
}
