.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    > * {
        width: 100%;
    }
    .chat-messages {
        flex: 1;
    }
    .chat-nput {
        min-height: 32px;
    }
}